<center>
  <h1>Welcome to the Testing Wonderland</h1>
</center>
  <ul>Some Prerequisites:
    <li>Some basic Ruby Knowledge</li>
    <li>Some basic understanding of the command terminal</li>
    <li>An understanding of objects</li>
    That's it actually! Our goal is to take you from 0 to 100 with Watir and Cucumber
  </ul>
<center>
  <%= link_to "Webdriving with Ruby", webdriving_with_ruby_path %><br>
  <%= link_to "Gherkinizing Your Application", '#' %><br>
  <%= link_to "Page Objects", "#" %><br>
  <%= link_to "The Framework & Up", "#" %><br>
  <%= link_to "Stuff to break!", "#" %>
</center>
