<center>
  <h1>Welcome to the Testing Wonderland</h1> <br>
</center>

  <center>
  <% if user_signed_in? %>
  <table class="table">
    <tr>
    <th>Section</th>
    <th>Your Progress</th>
    <th></th>
  </tr>
  <% @section.each do |section| %>
  <tr>
    <td><%= section.name %></td>
    <% challenge = Challenge.where(:section_id => section.id).count %>
    <% progress = Submission.where(:sections_id => section.id, :completed => true).count %>
    <td><%= "#{progress} out of #{challenge}" %></td>
    <td><%= link_to ">>", challenge_index_path(section_id: section.id), class: "btn btn-primary" %></td>
  </tr>
  </table>
  <% end %>
  <% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</center>
